body {
    background-image: url(img/double-bubble-outline.png);
  }
  .container {
    display: flex;
  }
  .buttons {
    display: flex;
  }
  .buttons ul {
    list-style-type: none;
  }
  .lists {
    display: flex;
    white-space: nowrap;
    margin-top: 45px;
    font-family: "Poppins", sans-serif;
    font-size: large;
    font-weight: 800;
    /* background-color: blue; */
  }
  .buttons a {
    text-decoration: none;
    padding: 30px;
    justify-content: space-between;
    margin-right: 30px;
  }
  .logo1 {
    /* background-color: aqua; */
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 500px;
  }
  .icon {
    width: 70%;
    height: auto;
  }
  footer {
    margin-top: 20px;
    background-color: #e8e8e8;
    color: #fff;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
  }
  .twitter {
    background-color: #ffffff;
  }
  .twitter:hover {
    background-color: #ededed;
  }
  .instagram:hover {
    background-color: #e3e3e3;
  }
  .facebook:hover {
    background-color: #e3e3e3;
  }
  
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    color: black;
  }
  .card-1 {
    width: 300px;
    /* border: 1px solid #cccccc; */
    border-radius: 5px;
    /* padding: 50px; */
    margin: 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    
    
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    font-weight: 800;
    margin-left: 20px;
  }
  
  .card-description {
    font-size: 14px;
    color: #666;
    font-family: "Poppins", sans-serif;
    font-size: x-large;
    text-align: center;
  }
  
  .card {
    display: flex;
    justify-content: space-evenly;
  }
  
  .precise {
    width: 70%;
  }
  
  .inner-details {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-description2 {
    font-size: 14px;
    color: #666;
    font-family: "Poppins", sans-serif;
    font-size: x-large;
    text-align: center;
  }
  .card-description3 {
    font-size: 14px;
    color: #666;
    font-family: "Poppins", sans-serif;
    font-size: x-large;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .card-title2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    font-weight: 800;
    margin-left: 40px;
  }
  .card-title3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    font-weight: 800;
    white-space: nowrap;
  }
  .header{
    text-align: center;
    font-family: "Fredericka the Great", cursive;
    margin-top: 120px;
    
  }
  .card-title{
    text-align: center;
  }
  .top{
    display: flex;
    justify-content: space-evenly;
  }
  section{
    margin-top: 120px;
  }
  section h2{
    font-family: "Fredericka the Great", cursive;
    text-align: center;

  }
  section h3{
    font-family: 'Poppins',sans-serif;
    width: 1000px;
    text-align: center;
    color: #2979f0;
    /* justify-content: center; */
  }